<div class="page-header"> 
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    {{#if users}}
    <ul>
        {{#each users}}
        <li><a href="/user/{{_id}}">{{name}} {{lastName}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>